$colors = {
  white: #ffffff,
  gray: #666666,
  yellow: #f17d0b
}

$images-base-dir = '../../assets/images/default/'

/* 公共 */
$page-main-width = 12rem
$theme-txt-color = $colors.gray
$theme-txt-color-2 = #333333
$theme-txt-color-3 = $colors.yellow
$theme-txt-color-4 = $colors.white
$theme-txt-color-5 = #666666
$theme-txt-color-6 = #f17d0b
$theme-txt-color-7 = #f42f3f
$page-bg-img = '../../images/default/big_bg.jpg'
$theme-bg-color = $colors.white
$theme-bg-color-1 = #333333
$theme-bg-color-2 = #eeeeee
$theme-bg-color-3 = #f7f7f7
$theme-bd-color-1 = #dddddd
$theme-bd-color-2 = #e0e0e0
$theme-bd-color-3 = #e4e4e4
$theme-bd-color-4 = #cccccc

/* components/header */
$game-header-time-font-size = .36rem
$game-header-volumn-open-image = '../../assets/images/default/gameheader/on.png'
$game-header-volumn-close-image = '../../assets/images/default/gameheader/off.png'
$game-header-qs-image = '../../assets/images/default/icon-qs.png'

/* components/game-menu */
$game-menu-bg-color = #f6f5f5
$game-menu-submenu-title-bg-color = #f6f5f5
$game-menu-header-bg-color =  #252224
$game-menu-header-bg-image = $images-base-dir + 'side01.png'
$game-menu-item-selected-bg-color = linear-gradient(to right, #f17d0b, #f86919, #ff5529)
$game-menu-item-hover-txt-color = #666
$game-menu-favourite-image = '../../assets/images/default/star.png'
$game-menu-favourite-selected-image = '../../assets/images/default/star-selected.png'


/* components/header */
$app-header-width = 100%
$app-header-height = 0.62rem
$app-header-icon-logo = ''
$app-header-bg-color = #302b2a
$app-header-icon-money = ''
$app-header-bd-t-color = #896b52
$app-header-bd-r-color = #b0842d
$app-header-bd-b-color = #634620
$app-header-username-color = #d4be9d
$app-header-balance-color = #ffd400
$app-header-balance-unit-color = #b0884e

/* components/method-menu */
$method-menu-bg-color = #eeeeee
$method-menu-bd-color = #e4e4e4
$method-menu-item-selected-bg-color = #f17d0b
$method-menu-item-selected-txt-color = #fff

/* components/play */
$play-method-name-bd-color = #d4d4d4
$play-method-item-selected-bg-color = #fef2e6
$play-white-bg-img = linear-gradient(to bottom, #fefefe, #f1f2f4, #e4e7eb)
$play-method-name-selected-bg-color = #ff501b

/* components/sub-method-menu */
$sub-method-menu-item-bg-color = #fafafa
$sub-method-menu-item-selected-bg-color = #e97c00

/* component/order-bar */
$order-bar-btn-reset-bg-color = #899095
