.method-menu-view {
  .menu-wp {
    height 0.4rem
    background-color $method-menu-bg-color
    border solid 0.01rem $method-menu-bd-color
    &>nav {
      height 100%
    }
    .menu-item {
      height 100%
      line-height 0.4rem
      padding 0 0.18rem
      cursor pointer
      &.selected {
        background-color $method-menu-item-selected-bg-color
        color $method-menu-item-selected-txt-color
      }
    }
  }
}