W1 = .5rem
F1 = .27rem

W2 = .35rem
F2 = .2rem

W3 = .25rem
F3 = .16rem

W4 = .52rem

.rolling-numbers
  padding 0 .05rem
  .number-box
    width W1
    height W1
    line-height W1
    font-size F1
    position relative
    display inline-block
    margin 0 .03rem
    
  .number
    width W1
    height W1
    line-height W1
    font-size F1
    position relative
    display inline-block
    // margin 0 .04rem
    text-align center
    color #000
    font-weight bold
    background-image linear-gradient(0deg, #dadde2 0%, #ffffff 100%);
    // background url(../assets/gameheader/gameball_l__bg.png)
    
    border 1px solid #ccc
    overflow hidden
    border-radius 50%
    
    &.hl
      background-image linear-gradient(#f17d0b, #f17d0b), linear-gradient(0deg, #f3f3f3 0%, #ffffff 100%)
      color #fff
      border none

.rolling-numbers.pk10
  .number
  .number-box
    width W3
    height W3
    line-height W3
    font-size F3

.rolling-numbers.HC6
  .number
  .number-box
    width W2
    height W2
    line-height W2
    font-size F2

.rolling-numbers.KL8
  max-width 3.6rem
  .number
  .number-box
    
    width W3
    height W3
    line-height W3
    font-size F3

.rolling-numbers.k3
  
  .dice-box
    position relative
    width W4
    height W4
    overflow hidden
    margin 0 .04rem
    vertical-align middle
  dice() {
    display inline-block
    width 0.5rem
    height 0.5rem
    background-size 100%
    margin-right 0.04rem
  }
  for num in 1 2 3 4 5 6 {
    .icon-item-{num} {
      background url("../../assets/images/default/dice-" + num + ".png") center no-repeat
      dice()
    }
    .select.icon-item-{num} {
      background url("../../assets/images/default/dice-red-" + num + ".png") center no-repeat
      dice()
    }
  }

  .dice
    position relative
    box-shadow none
  
  .dead  
    width W4
    height W4
    float left

.rolling-numbers.PCDD
  position relative
  .number-gap
    position absolute
    top 0
    width .3rem
    line-height .5rem
    font-size .3rem
    display inline-block
    text-align center
    // border 1px solid
    &:nth-child(1)
      left .67rem
    &:nth-child(2)
      left 1.53rem
    &:nth-child(3)
      left 2.39rem
    &:nth-child(4)
      width .5rem
      left 2.69rem
    
  .number-box:nth-child(1)
  .number-box:nth-child(2)
  .number-box:nth-child(3)
    margin-right .3rem
      
    

.page-1-1-1
  .number-box
    position relative
  .number
    width .28rem
    height .28rem
    line-height .28rem
    border-radius 50%
    z-index 1
    position relative
    top  -.14rem
    left .07rem
  .decorations
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    background-position center
    background-size 100%
    background-repeat no-repeat
    for v, k in  mouse tiger rabbit lonng snake horse sheep monkey chicken pig
      &.n_{k}
        background-image url('../../assets/images/default/hlsx/icon_' + v + '.png')
          
        