.play-method-rule-view
  .play-explain
  .lottery-explain
    background #fff
    padding 0 .18rem .2rem
    font-size 12px
    .play-explain-header
      text-align: center
      line-height .7rem
      border-bottom 1px dashed $border-color
    .self-btn
      margin-right 8px
    .text-box
      padding 0 1.1rem
    h3
      color $fc
      padding-top .18rem
      font-weight bold
    p
      color $fc3
      line-height .3rem
      strong
        color $fc
    pre
      white-space: pre-wrap
      word-wrap: break-word
      color $fc3
      line-height .3rem
