.lobby-game-view {
  width 5.9rem
  background $theme-bg-color
  border-radius 0.08rem
  margin-bottom 0.1rem
  .ludan-wp {
    padding 0.1rem 0.2rem
  }
  .footer-bar {
    padding 0 0.2rem 0.1rem 0.2rem
    .ant-btn-danger {
      background $lobby-game-btn-goto-bg-color
    }
  }
}
