.limit-set-content {
  width 4.3rem
  height 2.6rem
  border-radius 0.05rem
  padding-top 0.3rem
  .ant-btn-danger {
    background $limit-set-btn-bg-color
  }
  .mgt-35 {
    margin-top 0.35rem
  }
  .game-logo {
    width 100%
    height 0.6rem
    background-position center
    background-repeat no-repeat
    background-size 1.8rem 0.5rem
    position relative
    for n, i in $game-ids {
      &.logo-{n} {
        background-image url('../../assets/images/default/gameheader/ng/' + n + '.png');
      }
      &.icon-game-wbwfc {
        background-size 1.85rem
      }
    }
  }
  .limit-list {
    margin-top 0.2rem
    .btn-limit-amount {
      margin-right 0.1rem
      &:hover {
        opacity 0.85
      }
    }
  }
}
