.order-bar-view {
  padding 0.2rem 0
  clear both
  .fast-amount-wp {
    width 1.4rem
    height 0.3rem
    border solid 0.01rem $theme-bd-color-4
    border-raidus 0.02rem
    &>span {
      width 0.7rem
      height 100%
      text-align center
      border-right solid 0.01rem $theme-bd-color-4
      box-sizing border-box
    }
  }
  .fast-amount {
    width 0.7rem
    border none
    height 100%
    text-align center
  }
  .btns-wp {
  }
  .btn-order {
    margin-left 0.1rem
  }
  .txt-red {
    color $theme-txt-color-7
  }
  .btn-reset {
    &.ant-btn-primary {
      background-color $order-bar-btn-reset-bg-color
      border-color $order-bar-btn-reset-bg-color
    }
  }
  .flex {
    display flex
  }
}